.main-navigation {
  display: flex;
  align-items: center;
  &__controls {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    margin-right: -40px;
    height: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
    cursor: pointer;

    &:hover {
      > .main-navigation__item-link {
        color: $main-link-color;
      }
    }

    &-link {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__item_has-children {
    position: relative;
    margin-right: 60px;

    & .sub-menu-indicator {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        right: -18px;
        width: 7px;
        height: 7px;
        background: transparent;
        border-bottom: 2px solid $brand-color;
        border-right: 2px solid $brand-color;
        transform: rotate(45deg);
        transition: border-color 0.3s ease, transform 0.3s ease, top 0.3s ease;
        cursor: pointer;
      }
    }

    &:hover {

      & .sub-menu-indicator::after {
        border-color: $main-link-color;
        top: calc(50% - 3px);
        transform: rotate(-136deg);
      }

      .main-navigation__sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  &__sub-menu {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    background: #fff;
    box-shadow: 3px 3px 6px 0 rgba(0,0,0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s ease, visibility 0.3s ease;

    .main-navigation__item {
      padding: 10px;
    }
  }
}